{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"semi": 2,
		"eqeqeq": "off",
		"curly": "error",
		"quotes": ["error", "double"]
	},
	"env": {
		"browser": true,
		"node": true
	}
}
